<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>人物</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async></script>
    <script src="/dragalialost/src/js/pinyin.js" ></script>
    <script src="/dragalialost/dist/adventurer.bundle.js" rel="preload"></script>
</head>

<body>
    <div id="app">
        <div id='role-list'>
            <template v-for="(ads,i) in adsList">
                <div class="item-content" @click="bindEvent(ads)">
                    <div class="advs-item">
                        <picture class="lazy" v-bind:id="stepIcon(ads.rid)">
                            <source v-bind:srcset="defaultIMG()" v-bind:data-src="showIconImage(ads)" type="image/webp">
                            <img v-bind:src="defaultIMG()" v-bind:data-src="showIconImage(ads)">
                        </picture>
                    </div>
                    <div style="width:140px;height:auto;margin-top:5px;">
                        <div class="ads-name">{{ads.name}}</div>
                        <div class="res-name">{{ads.res}}</div>
                        <div class="ex-list">
                            <div class="ex-item" style="width:25px;height:25px;">
                                <picture class="lazy" v-bind:id="ads.ability1[0]">
                                    <source v-bind:srcset="defaultIMG()" v-bind:data-src="showAblityImage(ads,0,0)" type="image/webp">
                                    <img v-bind:src="defaultIMG()" v-bind:data-src="showAblityImage(ads,0,1)" v-bind:title="ads.ability1[1]" style="width:100%;height:100%;">
                                </picture>
                            </div>
                            <div class="ex-item" style="width:25px;height:25px;">
                                <picture class="lazy" v-bind:id="ads.ability2[0]">
                                    <source v-bind:srcset="defaultIMG()" v-bind:data-src="showAblityImage(ads,1,0)" type="image/webp">
                                    <img v-bind:src="defaultIMG()" v-bind:data-src="showAblityImage(ads,1,1)" v-bind:title="ads.ability2[1]" style="width:100%;height:100%;">
                                </picture>
                            </div>
                            <div class="ex-item" style="width:25px;height:25px;" v-if="ads.ability3[0].length > 0">
                                <picture class="lazy" v-bind:id="ads.ability3[0]">
                                    <source v-bind:srcset="defaultIMG()" v-bind:data-src="showAblityImage(ads,2,0)" type="image/webp">
                                    <img v-bind:src="defaultIMG()" v-bind:data-src="showAblityImage(ads,2,1)" v-bind:title="ads.ability3[1]" style="width:100%;height:100%;">
                                </picture>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:5px;">
                        <div class="restriction">{{resText(ads.restriction)}}</div>
                        <div class="maxlevel" v-if="ads.maxlevel === 100">70环</div>
                    </div>
                </div>
            </template>
        </div>
        <div class="options">
            <div class="search">
                <input type="text" placeholder="请输入名字..." name="" id="searchInput" value="" />
                <button id='clearButton'>clear</button>
            </div>
            <div class="options-0">
                <div class="options_star">
                    <template v-for="rarity in raritys">
                        <div class="filerbox">
                            <input v-bind:id="rarity.fid" type="checkbox" name="Rarity" v-bind:value="rarity.value">
                            <label v-bind:for="rarity.fid" v-bind:title="rarity.title">
                                <picture class="filer-img">
                                    <source v-bind:srcset="rarity.img0">
                                    <img v-bind:src="rarity.img1" class="filer-img" v-bind:alt="rarity.title" v-bind:title="rarity.title">
                                </picture>
                            </label>
                        </div>
                    </template>
                </div>
                <div class="options_element">
                    <template v-for="element in elements">
                        <div class="filerbox">
                            <input v-bind:id="element.fid" type="checkbox" name="Element" v-bind:value="element.value">
                            <label v-bind:for="element.fid" v-bind:title="element.title">
                                <picture class="filer-img">
                                    <source v-bind:srcset="element.img0">
                                    <img v-bind:src="element.img1" class="filer-img" v-bind:alt="element.title" v-bind:title="element.title">
                                </picture>
                            </label>
                        </div>
                    </template>
                </div>
                <div class="options_weapon">
                    <template v-for="weapon in weapons">
                        <div class="filerbox">
                            <input v-bind:id="weapon.fid" type="checkbox" name="Weapon" v-bind:value="weapon.value">
                            <label v-bind:for="weapon.fid" v-bind:title="weapon.title">
                                <picture class="filer-img">
                                    <source v-bind:srcset="weapon.img0">
                                    <img v-bind:src="weapon.img1" class="filer-img" v-bind:alt="weapon.title" v-bind:title="weapon.title">
                                </picture>
                            </label>
                        </div>
                    </template>
                </div>
                <div class="options_res">
                    <template v-for="res in resistances">
                        <div class="filerbox">
                            <input v-bind:id="res.fid" type="checkbox" name="Resistance" v-bind:value="res.value">
                            <label v-bind:for="res.fid" v-bind:title="res.title">
                                <picture class="filer-img">
                                    <source v-bind:srcset="res.img0">
                                    <img v-bind:src="res.img1" class="filer-img" v-bind:alt="res.title" v-bind:title="res.title">
                                </picture>
                            </label>
                        </div>
                    </template>
                </div>
            </div>
            <div class="options-1">
                <div class="effect">
                    <div style="font-size: 18px;font-weight: bold;">技能特效</div>
                    <div>
                        <input id="checkbox_effect_1" type="checkbox" name="skilleffect" value="Poison">
                        <label for="checkbox_effect_1" class="other" title="中毒特效">
                            中毒特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_2" type="checkbox" name="skilleffect" value="Burn">
                        <label for="checkbox_effect_2" class="other" title="烧伤特效">
                            烧伤特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_3" type="checkbox" name="skilleffect" value="Paralysis">
                        <label for="checkbox_effect_3" class="other" title="麻痹特效">
                            麻痹特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_4" type="checkbox" name="skilleffect" value="Freeze">
                        <label for="checkbox_effect_4" class="other" title="破防特效">
                            冰冻特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_5" type="checkbox" name="skilleffect" value="Blind">
                        <label for="checkbox_effect_5" class="other" title="致盲特效">
                            致盲特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_6" type="checkbox" name="skilleffect" value="Bog">
                        <label for="checkbox_effect_6" class="other" title="湿身特效">
                            湿身特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_7" type="checkbox" name="skilleffect" value="Frostbite">
                        <label for="checkbox_effect_7" class="other" title="冻伤特效">
                            冻伤特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_8" type="checkbox" name="skilleffect" value="Sleep">
                        <label for="checkbox_effect_8" class="other" title="睡眠特效">
                            睡眠特效
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_effect_9" type="checkbox" name="skilleffect" value="Stun">
                        <label for="checkbox_effect_9" class="other" title="昏迷特效">
                            昏迷特效
                        </label>
                    </div>
                </div>
                <div class="other">
                    <div style="font-size: 18px;font-weight: bold;">其他</div>
                    <div>
                        <input id="checkbox_other_5" type="checkbox" name="other1" value="restriction">
                        <label for="checkbox_other_5" class="other" title="限定">
                            限定
                        </label>
                    </div>
                    <div>
                        <input id="checkbox_other_6" type="checkbox" name="other2" value="breakthrough">
                        <label for="checkbox_other_6" class="other" title="70环">
                            70环
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dragalialost/src/js/filterData.js"></script>
    <script src="/dragalialost/dist/adventurer.bundle.js"></script>
</body>

</html>