html {
    font-size: 16px;
}

body {
    background-color: #e6e6e6;
    overflow: hidden;
}

#main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    display: flex;
}

.dungeons {
    align-self: baseline;
    background-color: white;
    margin: 5px;
    padding: 5px;
    width: 25.625rem;
    box-shadow: darkgrey 0px 1px 2px 1px;
}

.trial_img img {
    width: 25rem;
    height: auto;
}

.team table {
    width: 25rem;
    border-collapse: collapse;
    align: center;
    table-layout: fixed;
}

th {
    display: table-cell;
    border: 1px solid #aaa;
    color: white;
    font-size: 14px;

}

td {
    display: table-cell;
    border: 1px solid #aaa;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    #main {

        display: flex;
        flex-direction: column;
    }
}