body {
    display: flex;
}

div {
    display: block;
}

/*角色列表*/
#role-list {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 520px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e6e6e6;

}

.item-content {
    display: flex;
    width: 250px;
    height: 100px;
    padding: 5px;
    margin: 5px 5px;
    cursor: pointer;
    box-shadow: darkgrey 0px 1px 1px 1px; //边框阴影
    border: 1px solid darkgrey;
    border-radius: 5px;
    white-space: pre-line;
    background-color: white;
}

.item-content:hover {
    box-shadow: #99CCFF 0px 2px 2px 2px; //边框阴影
}

.advs-item picture {
    width: 90px;
    height: auto;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.advs-item picture img {
    width: 90px;
    height: auto;
}

.alert-view {
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 150px;
    background-color: white;

}

/*筛选列表*/

.search {
    height: 40px;
    margin-left: 8px;
}

.search input {
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    outline: none;
}

.search input:focus {
    border: 2px solid #B0E2FF;
    border-radius: 5px;
}

.search button {
    width: 60px;
    height: 35px;
    background-color: #B0E2FF;
    color: white;
    border: 0px;
    border-radius: 5px;
    outline: none;
}

.options {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    width: 500px;
    padding: 10px;
    border: 1px solid #EAEAEA;
}

.options-0 div {
    height: 55px;
    display: flex;
}

.options_star div {
    width: 33%;
    margin-left: 8px;
    margin-top: 10px;
}

.options_element div {
    width: 20%;
    margin-left: 8px;
    margin-top: 10px;
}

.options_weapon div {
    width: 12.5%;
    margin-left: 8px;
    margin-top: 10px;
}

.options_res div {
    width: 12%;
    margin-left: 8px;
    margin-top: 10px;
}

label img,
picture {
    user-select: none;
    height: 25px;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    box-shadow: darkgrey 0px 1px 2px 1px; //边框阴影
}

.checkbox input[type="checkbox"]+label {
    background-color: #FFFFCC;
}

.checkbox input[type="checkbox"]:checked+label {
    background-color: #99CCFF;
}

.options-1 {
    margin-left: 8px;
}

.options-1 div {
    width: 50%;
    float: left;
}

.options-1 div div input {
    zoom: 150%;
}

.options-1 div div label {
    user-select: none;
}

.effect div{
    width: 100%;
}

.other div{
    width: 100%;
}