body {
    display: flex;
}

div {
    display: block;
}

/*角色列表*/
#role-list {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 540px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #e6e6e6;

}

.item-content {
    display: flex;
    width: 250px;
    height: 100px;
    padding: 5px;
    margin: 5px 5px;
    cursor: pointer;
    box-shadow: darkgrey 0px 1px 1px 1px; //边框阴影
    border: 1px solid darkgrey;
    border-radius: 5px;
    white-space: pre-line;
    background-color: white;
}

.item-content:hover {
    box-shadow: #99CCFF 0px 2px 2px 2px; //边框阴影
}

.advs-item picture {
    width: 90px;
    height: auto;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.advs-item picture img {
    width: 90px;
    height: auto;
}

.alert-view {
    display: flex;
    flex-direction: column;
    width: 435px;
    height: 150px;
    background-color: white;

}

/*筛选列表*/

.search {
    height: 40px;
}

.search input {
    height: 30px;
    border: 2px solid lightgray;
    border-radius: 5px;
    outline: none;
}

.search input:focus {
    border: 2px solid #B0E2FF;
    border-radius: 5px;
}

.search button {
    width: 60px;
    height: 35px;
    background-color: #B0E2FF;
    color: white;
    border: 0px;
    border-radius: 5px;

    outline: none;
}

.options {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    width: 500px;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 60px 80px 80px 80px 80px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #EAEAEA;
}

.options_star {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 8px;
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.options_element {
    height: 60px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.options_weapon {
    height: 60px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.options_res {
    height: 60px;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;

}

label img,
picture {
    user-select: none;
    height: 25px;
}

.checkbox {
    /*border: 5px solid red;*/
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: darkgrey 0px 1px 2px 1px; //边框阴影
}

.checkbox input[type="checkbox"]+label {
    width: auto;
    height: auto;
    background-color: #FFFFCC;
    align-items: center;

}

.checkbox input[type="checkbox"]:checked+label {
    width: auto;
    height: auto;
    background-color: #99CCFF;
    align-items: center;
}

.options-other {
    display: flex;
    flex-direction: row;
}

.effect {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.effect input {
    display: block;
    float: left;
    zoom: 150%;
    font-size: 16px;
    color: white;
    background-color: white;
}

.effect label {
    user-select: none;
}

/*loading页面*/
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
}
.loading .pic {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.loading .pic i {
    display: block;
    float: left;
    width: 6px;
    height: 50px;
    background-color: #2E9AFE;
    margin: 0 2px;
    transform: scaleY(.4);
    animation: load 1.2s infinite;
}
.loading .pic i:nth-child(1) {}
.loading .pic i:nth-child(2) {
    animation-delay: .1s;
}
.loading .pic i:nth-child(3) {
    animation-delay: .2s;
}
.loading .pic i:nth-child(4) {
    animation-delay: .3s;
}
.loading .pic i:nth-child(5) {
    animation-delay: .4s;
}
@keyframes load {
    0%,
    40%,
    100% {
        transform: scaleY(.4);
    }
    20% {
        transform: scaleY(1);
    }
}