body {
    display: flex;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    text-align: center;
}

.wrap {
    background: #fff;
    margin: 10px auto;
    display: block;
    width: 400px;
    height: 310px;

    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#void-wrap {
    background: #fff;
    margin: 10px auto;
    display: block;
    width: 800px;
    height: 310px;

    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.title {
    background-color: red;
    color: white;
    width: auto;
    margin-top: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.event-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#time-day{
    color:#000;
    font-size: 16px;
}

#table-void{
    margin: 10px;
}

picture,img
{
    width: 350px;
    height: auto;
}