.top {
 	position:absolute;
    width: 220px;
    /*固定在顶部*/
    top: 0;
    /*离顶部的距离为0*/
    left: 0;
    bottom: 0;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.middle
{
	position:absolute;
	top: 0;
	left: 220px;
	bottom: 0px;
	right: 0px;
    height: 100%;
}

.menutop a img
{
	padding: 10px;
	width: 200px;
	height: auto;
}

.menu {
    width: auto;
    height: auto;
    /*宽度也改为自动*/
    list-style-type: none;
    white-space: nowrap;
    overflow-x: hidden;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 0;          */
    padding: 0;
    background-color: #999999;
    border-radius: 8px;
}

.menu li {
	width: 200px;
	height: auto;
    font-size: 20px;
    color: #ffffff;
}

.menu li a {
    display: block;
    /* 把链接显示为块元素可使整个链接区域可点击 */
    color: white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
    padding: 10px 20px;
    /* 去除下划线 */
}

.menu-item a:hover {
    color: #ed5a65;
    background-color: #ffffff;
    padding: 10px 20px;
}



